@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1F1F1F;
}

.index-navbar,
.index-navbar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.index-navbar {
    justify-content: space-between;
    height: 80px;
}

.index-navbar,
.header,
#about {
    padding: 0 80px;
    max-width: 1440px;
}

.header .header-image img {
    width: 100%;
    height: 430px;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
}

.header .header-text {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 70px;
    margin-top: 150px;
}

.header .header-text h1 {
    width: 100%;
    min-width: 457px;
    max-width: 457px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
}

.header .header-text p {
    font-size: 12px;
    line-height: 17px;
    text-align: justify;
}

#about img {
    width: 480px;
    height: 480px;
    object-fit: cover;
    border-radius: 10px;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin-top: 180px;
    margin-bottom: 180px;
}

hr {
    width: calc(100% - 140px);
    max-width: 1440px;
    margin: 0 auto;
    opacity: 0.4;
}

.index-navbar .links {
    gap: 34px;
}

.index-navbar .links a {
    text-decoration: none;
    color: #1F1F1F
}

#about .about-text p {
    text-align: justify;
}

#about .about-title h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 65px;
    color: #000000;
}

#about .about-title p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 12px;
    margin-left: 14px;
}

#about .about-title {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
}

.index-navbar .logo {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    color: #000000;
}

#spaces {
    background-image: url("imagens/auditorio.png");
    width: 100%;
    height: 900px;
    background-size: cover;
}

.spaces-container {
    padding: 90px 80px;
    display: flex;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    gap: 80px;
    background-color: red;
    height: 510px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.spaces-container .spaces-title h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    white-space: nowrap;
}

.spaces-container .spaces-content p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}

.spaces-container .spaces-content a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    width: min-content;
    gap: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 10px 20px;
    transition: .3s;
    margin-top: 40px;
}

.spaces-container .spaces-content a p {
    white-space: nowrap;
}

.spaces-container .spaces-content a:hover {
    background-color: #ffffff48;
}

a.register-btn {
    padding: 8px 20px;
    border-radius: 24px;
    background-color: #efefef;
}

a.register-btn,
.index-navbar .links a {
    transition: .3s;
}

a.register-btn:hover {
    background-color: #000000;
    padding: 8px 20px;
    border-radius: 24px;
    font-weight: 400;
    color: #fff;
}

a.first-btn {
    margin-right: -24px;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: rgb(17, 17, 17);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(43, 43, 43);
    border-radius: 0px;
    border: 1px solid rgb(51, 51, 51);
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 1040px) {
    .header .header-text {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .header .header-text h1 {
        min-width: auto;
        max-width: none;
    }
}

@media screen and (max-width: 1330px) {
    #about .about-title {
        flex-direction: column;
        align-items: flex-start;
    }

    #about .about-title p {
        margin-left: 0px;
        text-align: left;
        line-height: 28px;
    }
}

@media screen and (max-width: 1200px) {
    #about {
        flex-direction: column;
    }

    #about img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .spaces-container {
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 510px) {
    .spaces-container .spaces-title h1 {
        white-space: wrap;
    }
}

@media screen and (max-width: 768px) {

    .index-navbar,
    .header,
    #about {
        padding: 0 6%;
    }

    .spaces-container {
        padding: 90px 6%;
    }

    hr {
        width: calc(100% - 12%);
    }
}

@media screen and (max-width: 600px) {
    .index-navbar .links {
        display: none;
    }

    .menu-toggle {
        display: flex;
        z-index: 20;
        position: fixed;
        right: 30px;
        background: #1f1f1f;
        color: #fff;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        justify-content: center;
        align-items: center;
        box-shadow: 2px black;
        font-size: 20px;
        cursor: pointer;
    }

    .index-navbar .links {
        flex-direction: column;
        height: 100vh;
        background-color: #1f1f1f;
        top: 0;
        right: 0;
        position: fixed;
        padding: 30px;
        padding-top: 100px;
        z-index: 10;
        align-items: flex-end;
        gap: 16px;
        width: 30vw;
        min-width: 150px;
    }
    
    .index-navbar .links a {
        color: #fff;
    }


    a.first-btn {
        margin-right: 0px;
    }

    a.register-btn {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
    }
}