@import url(style-index.css);

:root {
    --static-color: #000000;
    --hover-color: #815fbc;
}

.login-container,
.register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container .image {
    background-image: url("imagens/abelha.png");
    background-repeat: no-repeat;
    height: calc(100vh - 20px);
    display: flex;
    align-items: flex-end;
    background-size: cover;
    border-radius: 10px;
    margin-left: 10px;
}

.register-container .image {
    background-image: url("imagens/borboleta.png");
    background-repeat: no-repeat;
    height: calc(100vh - 20px);
    display: flex;
    align-items: flex-end;
    background-size: cover;
    border-radius: 10px;
    margin-right: 10px;
    background-position: bottom;
}

.logo {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    color: #000000;
    white-space: nowrap;
    position: absolute;
}

.login-container .logo {
    top: 40px;
    right: 40px;
}

.register-container .logo {
    top: 40px;
    left: 40px;
}

.login-container .child,
.register-container .child {
    width: 100%;
}

.login-container .image .text,
.register-container .image .text {
    padding: 107px 50px 50px 50px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}

.login-container .image .text p,
.register-container .image .text p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    color: #FFFFFF;
}

/* estilos gerais para formulário */

input {
    width: calc(100% - 44px);
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 2px solid #040608;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    transition: .4s;
}

input[type="submit"] {
    width: 100%;
    background-color: var(--static-color);
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

label {
    font-weight: 600;
    line-height: 16px;
}

::placeholder {
    color: #A9A9A9;
}

input:focus {
    border-color: #9770da;
    box-shadow: 2px #9770da;
    /* filter: drop-shadow(0px 0px 3px rgba(138, 100, 204, 0.4)); */
}

.login-container .center,
.register-container .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.login-form,
.register-form {
    max-width: 450px;
}

.login-form p,
.register-form p {
    margin-bottom: 60px;
    margin-top: 10px;
}

.login-form h1,
.register-form h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    padding-top: 100px;
}

p.redirect-link {
    text-align: center;
    color: #A5A5A5;
}

p.redirect-link a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

.eye {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    top: -57px;
    left: 90%;
}

.icon-style {
    font-weight: 100;
    color: rgb(63, 63, 63);
}

@media screen and (max-width: 768px) {

    .login-container .image,
    .register-container .image {
        display: none;
    }

    .login-form,
    .register-form {
        width: 100%;
        padding: 7%;
    }
}

/* classes comuns */

.page-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 40px;
}

/* navbar das telas de usuário comum */

.user-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 15px;
}

.container-main-cards {
    display: grid;
    place-items: center;
    min-height: calc(100vh - 70px);
}

.container-main-cards .content {
    /* width: 100%; */
    max-width: 1070px;
}

.user-navbar .user-name {
    display: flex;
    gap: 16px;
    align-items: center;
}

.user-navbar .user-name p {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}

.user-navbar .user-name div {
    font-weight: 600;
    font-size: 14px;
    color: #FFF;
    background-color: #DF0086;
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
}

.user-navbar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.user-navbar .links a {
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    padding-bottom: 3px;
    transition: .2s;
}

.user-navbar .links a:hover,
.user-navbar .links a.active {
    border-bottom: 2px solid #000;
    color: #000;
}


/* estilos para a tela de aluguel de espaços */

.card {
    border: 2px solid #000;
    padding: 24px;
    border-radius: 16px;
    width: 200px;
    text-align: left;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card .informations {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.card .informations .information {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 0px;
}

.card button {
    background-color: #000;
    border: none;
    padding: 15px 18px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    transition: .4s;
}

.card button:hover {
    background-color: var(--hover-color);
}

.card:hover {
    border-color: var(--hover-color);
    background-color: #815fbc23;
}

.card h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.card .informations .information p {
    font-size: 12px;
    color: #7F7F7F;
}

.card .informations .information p strong {
    font-weight: 500;
    opacity: 1;
    color: #000;
}