@import url(style-index.css);

:root {
    --static-color: #000000;
    --hover-color: #360c49;
}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container .image {
    background-image: url("imagens/abelha.png");
    background-repeat: no-repeat;
    height: calc(100vh - 20px);
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 10px;
}

.logo {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 40px;
    right: 40px;
}

.login-container .child {
    width: 100%;
}

.login-container .image .text p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .login-container .image {
        display: none;
    }

    .login-form {
        width: 100%;
        padding: 7%;
    }

    .login-form input {
        width: calc(100% - 44px);
        margin-bottom: 20px;
        padding: 15px 20px;
        border: 2px solid #040608;
        border-radius: 12px;
        font-family: 'Raleway', sans-serif;
    }

    .login-form input[type="submit"] {
        width: 100%;
        background-color: var(--static-color);
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
    }

    .login-form input[type="submit"]:hover {
        background-color: var(--hover-color);
        border-color: var(--hover-color);
    }

    label {
        font-weight: 600;
        line-height: 16px;
    }
}